/**
The problem with global styles is that are not encapsulated
so every style declared here can be assigned to other components
**/
.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

/**
That's the way you use global classes with CSS Modules
**/
:global .Drugs {
  color: black;
}
